<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NFT Generator</title>   
    <link rel="stylesheet" href="/static/css/style.css">    
</head>
<body>
    <input type="number" name="count" id="count" value="1">
    <button onclick="create_nft()">
        Mint
    </button>
    
    <button onclick="window.location.replace('/manage')">
        Manage
    </button>

    <div class="nfts">                           
    </div>

    <script>
        function downloadBase64Image(src, name) {
            var link = document.createElement('a');
            link.download = name;
            link.href = src;
            link.click();
        }

        function create_nft() {   
            if(document.getElementById("count").value === "") {
                alert("Please enter a number");
                return;
            }                     
            fetch(
                '/mint',
                {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },     
                    body: JSON.stringify({
                        count: document.getElementById('count').value
                    })               
                }
            ).then(function(response) {
                return response.json();
            }).then(function(data) {
                
                for (let index = 0; index < data.length; index++) {                    
                    const element = data[index];
                    div = document.createElement('div');
                    div.className = 'nft'
                                        
                    image = document.createElement("img");
                    image.src = element.image;
                    image.id = element.id;                  
                    image.onclick = function() {                        
                        if(confirm(`Acquired this NFT with Hash: ${element.hash}?`)){
                            downloadBase64Image(element.image, element.id + ".png");                            
                        }
                    }
                    div.appendChild(image);

                    document.getElementsByClassName('nfts')[0].appendChild(div);
                }
            });    
        }
    </script>
</body>
</html>